openapi: 3.0.0
info:
  title: Movie Bot API
  version: 1.0.0
servers:
  - url: https://d5d30qf1gfnohkmkl679.apigw.yandexcloud.net
paths:
  /create_session:
    post:
      summary: Create a session
      x-yc-apigateway-integration:
        type: http
        http_method: POST
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "create_session"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                user_name:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
  /approve_session:
    post:
      summary: Approve a session
      x-yc-apigateway-integration:
        type: http
        http_method: POST
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "approve_session"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                user_name:
                  type: string
                session_id:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  friend_id:
                    type: string
                  friend_name:
                    type: string
  /get_recommendation:
    get:
      summary: Get a movie recommendation
      x-yc-apigateway-integration:
        type: http
        http_method: GET
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "get_recommendation"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  film_id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  poster_url:
                    type: string
  /send_recommendation_opinion:
    post:
      summary: Send recommendation opinion
      x-yc-apigateway-integration:
        type: http
        http_method: POST
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "send_recommendation_opinion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                session_id:
                  type: string
                film_id:
                  type: string
                opinion:
                  type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  chat_id_1:
                    type: string
                  chat_id_2:
                    type: string
                  status:
                    type: string
  /add_favorite:
    post:
      summary: Add film to favorites
      x-yc-apigateway-integration:
        type: http
        http_method: POST
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "add_favorite"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                film_id:
                  type: string
                chat_id:
                  type: string
                film_name:
                  type: string
                film_description:
                  type: string
                film_poster_url:
                  type: string
      responses:
        '200':
          description: Successful response
  /get_favorites:
    get:
      summary: Get favorite films
      x-yc-apigateway-integration:
        type: http
        http_method: GET
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "get_favorites"
      parameters:
        - name: chat_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      type: object
                      properties:
                        film_id:
                          type: string
                        film_name:
                          type: string
                        film_description:
                          type: string
  /check_match:
    get:
      summary: Check if there is a match
      x-yc-apigateway-integration:
        type: http
        http_method: GET
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "check_match"
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
        - name: film_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  match:
                    type: boolean
  /get_movies_by_description:
    get:
      summary: Get titles by description
      x-yc-apigateway-integration:
        type: http
        http_method: GET
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "get_movies_by_description"
      parameters:
        - name: description
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  films:
                    type: string
  /get_random_movie_by_genre:
    get:
      summary: Get a movie recommendation by genre
      x-yc-apigateway-integration:
        type: http
        http_method: GET
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "get_random_movie_by_genre"
      parameters:
        - name: genre
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  film_id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  poster_url:
                    type: string
  /get_rating:
    get:
      summary: Get user rating by chat id
      x-yc-apigateway-integration:
        type: http
        http_method: GET
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "get_rating"
      parameters:
        - name: chat_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  film_id:
                    type: string
  /send_rating:
    post:
      summary: Send rating for film_id and chat_id
      x-yc-apigateway-integration:
        type: http
        http_method: POST
        url: https://functions.yandexcloud.net/d4e74lmbpc9rak5376t4
        headers:
          X-Request-Path: "send_rating"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                film_id:
                  type: string
                chat_id:
                  type: string
                film_name:
                  type: string
                rating:
                  type: string
      responses:
        '200':
          description: Successful response
